.all-object-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  /* wrap at three items */
  flex-wrap: wrap;
}

.border-soft-white {
  border: 2px solid #f0f0f0dc !important;
  border-radius: 5px;
  z-index: 100;
}

.icon-button {
  border: 2px solid #f0f0f03f;
  border-radius: 1px;
  padding: 5px;
  height: 2.8rem;
  width: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-image {
  width: 2.5rem;
  height: 2.5rem;
}
