.timeline {
    position: absolute;
    bottom: 2rem;
    left: 0.6rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 3px;
    z-index: 1000;
    width: 40%;
    height: 9rem;
  }
  
.bpm-input {
  width: 50px;
  margin-left: 10px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  color: #fffafa
}

.timeline-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.timeline-options{
    display: flex;
    /* width: 100%; */
}

.textbox-label{
    font-size: 0.6rem;
    padding-left: 1rem
}

.timeline-content{
    background-color: rgb(44, 44, 44);
    height: 6rem;
    overflow-y: scroll;
}

.timeline-hero-row{
    display: flex;
    max-width: 100%;
}

.timeline-measure{
    background-color: rgb(17, 17, 17);
    width: 4rem;
    height: 1.5rem;
}

.timeline-measure:hover{
    background-color:rgb(54, 54, 54)
}

.highlight {
  background-color: rgba(43, 169, 68, 0.496) !important; /* or any color you prefer for highlighting */
}

