/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #14535b -29.09%,
    #67062a 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* root color vars */
:root {
  --primary: #14535b;
  --secondary: #eeeeee;
  --tertiary: #7a2c9e;
  --base: #191919;
  --secondary-mid: #c4c4c46d;
  --base-mid: #2b2b2b;
}

.main-app {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  /* bac */
  background-color: var(--base);
  padding: 1rem;
}

.menu {
  width: 20%;
  height: 40vh;
  background-color: var(--base);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--secondary);
  justify-content: space-between;
}

.main-component {
  height: 100%;
  background-color: var(--base);
  display: flex;
  border: 1px solid var(--secondary);
}

.grid-space {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--secondary-mid);
}

/* on grid space hover, brighten */
.grid-space:hover {
  background-color: var(--primary);
}

.default-button {
  background-color: var(--base-mid);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

/* default button hover */
.default-button:hover {
  background-color: var(--secondary);
  color: var(--base);
  transition: 0.2s;
}

.bio-on {
  background-color: var(--tertiary);
}
