/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #14535b -29.09%,
    #67062a 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* root color vars */
:root {
  --primary: #3d145b;
  --secondary: #eeeeee;
  --tertiary: #9e2c2c;
  --base: #191919;
  --secondary-mid: #c4c4c46d;
  --base-mid: #2b2b2b;
}

.main-app {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  /* bac */
  background-color: var(--base);
  padding: 1rem;
  height: 85vh;
}

.menu {
  width: 40%;
  /* height: 100%; */
  background-color: var(--base);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--secondary);
  justify-content: space-between;
}

.main-component {
  height: 100%;
  background-color: var(--base);
  display: flex;
  border: 1px solid var(--secondary);
}

.grid-space {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--secondary-mid);
}

/* on grid space hover, brighten */
.grid-space:hover {
  background-color: var(--primary);
}

.default-button {
  background-color: var(--base-mid);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

/* default button hover */
.default-button:hover {
  background-color: var(--secondary);
  color: var(--base);
  transition: 0.2s;
}

.bio-on {
  background-color: var(--tertiary);
}

.small-font {
  font-size: 0.75rem;
  padding: 0;
  margin: 0;
}

.text-wrap-button {
  overflow: hidden; /* Ensures the content is clipped to the div boundaries */
  white-space: normal; /* Allows the text to wrap as needed */
  text-overflow: clip; /* Clips the text */
  word-wrap: break-word; /* Ensures that long words do not overflow */
}

.wire-section {
  margin-top: 10px;
}

.wire-listing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.delete-wire-button {
  padding: 0.1rem;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  text-align: center;
}

.small-font {
  font-size: 0.75rem;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.float-right {
  margin-left: auto;
}

.float-left {
  margin-right: auto;
}
